<body class="inventory-body">
<app-layout>
    <div class="jumbotron">
      <h1>Avenger Candidates</h1>
      <p>
       Vote for the best avenger for you !
      </p>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Order By :</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button class="btn btn-success" (click)="sortByname()" >sort by name</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-success" (click)="sortBydate()" >sort by Date</button>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchfor" placeholder="Search" name="search" (input)="searchingtext()" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      {{this.searchfor}}

    <!-- <button (click)="sortByname()" >sort by name</button>
    <button (click)="sortBydate()" >sort by Date</button> -->

    <!-- card-columns -->
 <div class="">

    <div class="card" style="width: 100%; margin-bottom: 5%; height: 20%;" *ngFor=" let candidate of (ShowingCandidates | ascending:sortbyname)" >
       <div class="container"><img class="card-img-top" style="width: 20%;" src={{candidate.images}}  alt="Card image cap"></div> 
        <div class="card-body" style="width:28%;margin-top: -12%;margin-left: 32%">
          <h5 class="card-title">{{candidate.name}}</h5>
          <h4 class="card-title">{{ candidate.dateCreation | date}}</h4>
          <p class="card-text">{{ candidate.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <button type="button" (click)="Incr(candidate)" class="btn btn-warning">Vote</button>
        </ul>
      </div>
 </div>

  </app-layout>

</body>

