<body class="inventory-body">
  <div class="container shadow p-3 mb-5 bg-white rounded " style="width:-webkit-fill-available; margin:12%; ">

  <h1 style="padding: inherit;margin-left: 42%;"> Login </h1>

  <form >
  <!-- <div class="container center_div"> -->
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary"(click)="GoHome()">Submit</button>
  <!-- </div>   -->
  </form>
  </div>

</body>